.board-card {
  margin-bottom: 10px;
}

.board-card-title {
  padding: 10px;
  font-size: large;
}

.board-card-question {
  padding: 10px;
  font-size: medium;
}

.board-card-hint {
  padding: 10px;
  font-size: small;
}

.board-card-answer {
  padding: 10px;
  font-size: medium;
}
