.deck-cards {
  overflow:scroll;
}

.deck-card {
  margin-bottom: 10px;
  margin-left: 10px;
}

.deck-card-title {
  padding: 10px;
  font-size: large;
}

.deck-card-question {
  padding: 10px;
  font-size: medium;
}

.deck-card-hint {
  padding: 10px;
  font-size: small;
}

.deck-card-answer {
  padding: 10px;
  font-size: medium;
}
