<div layout="row" layout-wrap>
  <div flex="30">

    <div ng-style="{{deck.innerHeight}}" class="mdl-cell mdl-cell--4-col deck-cards">
      <div class="lock-size" layout="row" layout-align="center center">
        <md-input-container ng-hide="deck.creationMode==false">
          <form ng-submit="deck.createDeck()">
            <input ng-model="deck.newDeck" placeholder="{{'studyBoxFe_typeName' | translate}}">
          </form>
        </md-input-container>
        <md-select ng-hide="deck.creationMode" aria-label="decks"
                   ng-model="deck.selectedDeck"
                   ng-model-options="{trackBy: '$value.id'}"
                   ng-change="deck.selectDeck()"
                   md-on-open="deck.getDecks()">
          <md-option ng-value="{id:'new', name:'new name'}">{{'studyBoxFe_createDeck' | translate}}</md-option>
          <md-option ng-value="item" ng-repeat="item in deck.decks">{{item.name}}</md-option>
        </md-select>
      </div>

      <md-card ng-repeat="card in deck.cards">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ card.question }}</span>
            <span class="md-subhead">{{ card.answer }}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button  ng-click="deck.selectCard(card.id)">Select</md-button>
        </md-card-actions>
      </md-card>
    </div>

  </div>
  <div flex="45">
    <div>
      Select card to edit: <br>
      <card>
      </card>
    </div>
  </div>
  <div flex="25">

  </div>
</div>


