<div md-content layout-padding ng-controller="RegistrationController as registration" ng-cloak  layout="row" layout-align="center">
  <div flex-xs="10" flex-gt-md="35" flex-gt-sm="30" flex-gt-xs="25"></div>
  <div flex-xs="80" flex-gt-md="30" flex-gt-sm="40" flex-gt-xs="50">
    <md-card>
      <md-card-title layout-align="center">
        <md-card-title-media>
          <div class="md-media-sm logo">
              <img ng-src="{{registration.imagePath}}" class="md-card-image">
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-content>
        <div flex><h4>{{"registration-FORM_TITLE" | translate}}</h4></div>
        <div flex><h6>{{registration.formStatus}}</h6></div>
        <form name="registrationForm" ng-submit="registration.submit(registrationForm.$valid, online)" novalidate >
          <md-input-container class="md-block">
            <label>{{"registration-EMAIL_FIELD" | translate}}</label>
            <input required type="email" name="email" ng-model="registration.data.email" ng-pattern="/^.+@.+\..+$" />
            <div ng-messages="registrationForm.email.$error">
              <div ng-message="required">{{"registration-REQUIRED_FIELD" | translate}}</div>
              <div ng-message="md-maxlength">{{"registration-USER_NAME" | translate}}</div>
              <div ng-message="pattern">{{"registration-INVALID_FORMAT" | translate}}</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>{{"registration-PASSWORD_FIELD" | translate}}</label>
            <input required type="password" name="password" minlength="8" ng-model="registration.data.password" ng-pattern="/^[^\s]$/" />
            <div ng-messages="registrationForm.password.$error">
              <div ng-message="required">{{"registration-REQUIRED_FIELD" | translate}}</div>
              <div ng-message="minlength">{{"registration-FIELD_MIN_CHARS" | translate}}</div>
              <div ng-message="pattern">{{"registration-INVALID_FORMAT" | translate}}</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label for="confirmPassword">{{"registration-PASSWORD_REPEAT" | translate}}</label>
            <input required type="password" name="confirmPassword" ng-model="registration.data.confirmPassword" compare-to="registration.data.password" />
            <div ng-messages="registrationForm.confirmPassword.$error">
              <div ng-message="required">{{"registration-REQUIRED_FIELD" | translate}}</div>
              <div ng-message="compareTo">{{"registration-PASSWORDS_DIFFERENT" | translate}}</div>
              <div ng-message="minlength">{{"registration-FIELD_MIN_CHARS" | translate}}</div>
            </div>
          </md-input-container>

          <div layout="column" layout-align="center stretch">
            <md-button class="md-raised md-primary" type="submit" ng-disabled="registrationForm.$invalid" ng-click="registration.showAlert($event, online)" >{{"registration-REGISTER_BUTTON" | translate}}</md-button>
            <md-button ng-click="registration.reset()" ng-href="#/">{{"registration-CANCEL_BUTTON" | translate}}</md-button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
  <div flex-xs="10" flex-gt-md="35" flex-gt-sm="30" flex-gt-xs="25" ></div>
</md-content>
<!-- ng-href="#/login" -->
