$graphite: #424242;

.md-button.closePosition
{
  position: relative;
  font-size: large;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
}

.imgStyle
{
  min-width: 30px;
  max-width: 100%;
  max-height:200rem;
}

.addCard
{
  font-size: 1.6em;
}

.separate
{
  margin-top: 25px;
}

.camera-position
{
  position: absolute;
  top: 25px;
  right: 15px;
}

.camera
{
  width: 35px;
  height: 35px;
  opacity: 0.4;
}

.hintDiv
{
  padding: 0px;
  background-color: lighten($graphite,66%);
}

.md-button.md-fab.hintCardRemove
{
  font-size: 60px !important;
  position: relative;
  left: calc(50% - 44px);
  background-color: #969595 !important;
  margin: 20px;
}

.md-button.md-fab.hintCardAdd
{
  font-size: 60px !important;
  position: absolute;
  bottom: -30px;
  right: -40px;
  background-color: #969595 !important;
}

.camera:hover
{
  cursor: pointer;
  opacity: 0.6;
}

button.md-button.addCardButtons{
  //background-color: #EA0061;
  font-size: 0.6em;
  padding: 10px;
}

button.md-button.addCardButton {
  margin-top:10px;
  width: 50%;
  min-width: 142px;
  float: right;
}

md-input-container.siteParts , md-content.siteParts , .layout-column.siteParts
{
  margin: 0px 8px;
  padding: 0px;
}

md-select.siteParts
{
  margin-top: 0px;
}

@mixin partOfCard() {
  min-height: 8em;
  padding: 25px 55px 25px 25px;
}

@mixin middleCard()
{
  padding: 0px;
  margin: 0px 8px;
}

md-input-container.middleCard
{
  @include middleCard();
}

md-input-container textarea.md-input.question
{
  background-color: lighten($graphite,70%);
  @include partOfCard();
}

md-input-container textarea.md-input.hint
{
  background-color: lighten($graphite,66%);
  @include partOfCard();
}

md-input-container textarea.md-input.answer
{
  background-color: lighten($graphite,62%);
  @include partOfCard();
}

//Usunięcie odstępów pomiędzy textareami
md-input-container .md-errors-spacer {
  min-height: 0;
}

.rotate{transform: rotate(135deg);
  background-color: #424242 !important;}
