$graphite: #424242;

.addCard
{
  font-size: 1.6em;
}

.separate
{
  margin-top: 25px;
}

button.md-button.addCardButtons{
  //background-color: #EA0061;
  font-size: 0.7em;
  padding: 10px;
}

button.md-button.addCardButton {
  margin-top:10px;
  width: 50%;
  min-width: 142px;
}

md-input-container.siteParts , md-content.siteParts , .layout-column.siteParts
{
  margin: 0px 8px;
  padding: 0px;
}

md-select.siteParts
{
  margin-top: 0px;
}

@mixin partOfCard() {
  min-height: 7em;
  padding: 25px;
}

@mixin middleCard()
{
  padding: 0px;
  margin: 0px 8px;
}

md-input-container.middleCard
{
  @include middleCard();
}

md-input-container textarea.md-input.question
{
  background-color: lighten($graphite,70%);
  @include partOfCard();
}

md-input-container textarea.md-input.hint
{
  background-color: lighten($graphite,66%);
  @include partOfCard();
}

md-input-container textarea.md-input.answer
{
  background-color: lighten($graphite,62%);
  @include partOfCard();
}

//Usunięcie odstępów pomiędzy textareami
md-input-container .md-errors-spacer {
  min-height: 0;
}

