$graphite: #424242;

.addCard
{
  font-size: 1.6em;
}

button.md-button.addCardButton{
  //background-color: #EA0061;
  font-size: 0.7em;
  padding: 10px;
}

@mixin separate() {
}


md-input-container.middleArea , md-select.choseDeck
{
  margin: 0px 8px;
  padding: 0px;
}

@mixin partOfCard() {
  min-height: 7em;
  padding: 25px;
}

md-input-container textarea.md-input.question
{
  background-color: lighten($graphite,70%);
  @include partOfCard();
}

md-input-container textarea.md-input.hint
{
  background-color: lighten($graphite,66%);
  @include partOfCard();
}

md-input-container textarea.md-input.answer
{
  background-color: lighten($graphite,62%);
  @include partOfCard();
}

//Usunięcie odstępów pomiędzy textareami
md-input-container .md-errors-spacer {
  min-height: 0;
}

