<md-content  style="overflow:hidden;">

<top-navbar-elements></top-navbar-elements>

  <hamburger-menu></hamburger-menu>

  <div layout="row"
       layout-align="end start"
       class="nav-buttons"
       ng-show="navbar.uiRouterState.current.name == 'decks'">

    <form ng-submit="navbar.querySearch()"
          flex-sm="90" flex-xs="90" flex="30"
          id="searchArea"
          ng-class="{'searchForm': !navbar.inputVisible, 'showUp': navbar.inputVisible}">

      <input ng-model="navbar.searchText"
             ng-change="navbar.trimInput()"
             placeholder="{{'navbar-PLACEHOLDER' | translate}}"
             id="searchInput">
      </input>

    </form>

    <md-button aria-label="search"
               ng-click="navbar.finishSearching(true)"
               id="searchButton"
               ng-class="{darkButton: navbar.inputVisible}">
      <md-icon md-svg-src="assets/icons/search.svg"
               id="searchButton2"
               ng-hide="navbar.inputVisible">
      </md-icon>
      <md-icon md-svg-src="assets/icons/clear.svg"
               id="searchButton3"
               ng-hide="!navbar.inputVisible">
      </md-icon>
    </md-button>

    <new-deck-fab></new-deck-fab>

  </div>

  <md-content layout-padding>
    <div ui-view></div>
  </md-content>

</md-content>
