.sidenavImage {
  width: 30%;
}

.nav-buttons{
  z-index:2;
}

.not-logged-button{
  top:-105px;
}

new-deck-fab {
  position: absolute;
  bottom: -155px;
  right: 1em;
  z-index: 4;
}

.color-dial{
  background:#EA0061 !important;
}

.color-mini{
  background:#424242 !important;
}

.rotate{
  transform: rotate(135deg);
  background-color: #424242 !important;
}

.searchForm {
  opacity:0;
  visibility:hidden;
  transition:0.5s; 
  color:white;
}

.showUp {
  visibility: visible;
  opacity:1;
  transition: 0.3s;
  z-index:3;
}

#searchButton {
  z-index:3;
}

.darkButton{
  background-color: #424242 !important;
}

#email {
  margin-top: 0.5em;
}

#deckSearch {

}
