.nav-buttons{
z-index:2;
margin-top:-35px;
margin-right:20px;
margin-bottom:-230px;
}


.fabSpeedDial .text-capitalize {
  text-transform: capitalize; }
.fabSpeedDial p.note {
  font-size: 1.2rem; }
.fabSpeedDial .lock-size {

  min-height: 300px;
  height: 300px;

  }

.color-dial{
  background:#EA0061 !important;
}

.color-mini{
  background:#424242 !important;
}

.rotate{transform: rotate(135deg);
background-color: #424242 !important;}


.searchForm{
margin-right:15px;
width:70%;
opacity:0;
visibility:hidden;
transition:0.5s;
color:white;
}


#searchBar{
margin-top:13px;
min-width:150px;
z-index:3;
background:#F5F5F5;
}

.showUp{
visibility: visible;
  opacity:1;
  width:100%;
  transition: 0.3s;
  z-index:3;
}

.searchArea{
width:38%;
}

.darkButton{
  background-color: #424242 !important;
}
