<md-content style="min-height: 100%">

  <top-navbar-elements></top-navbar-elements>

  <hamburger-menu></hamburger-menu>

  <div layout="row"
       layout-align="end start"
       class="nav-buttons"
       ng-show="navbar.uiRouterState.current.name == 'decks'">

    <div class="searchArea"
         flex-sm="90" flex-xs="90" flex="30"
         layout="row" layout-align="end start">

      <form ng-submit="navbar.changePage()" id="searchAutocomplete" class="searchForm">

            <md-autocomplete
                md-selected-item="navbar.selectedItem"
                md-search-text="navbar.searchText"
                md-items="item in navbar.querySearch(navbar.searchText)"
                md-item-text="item.name"
                md-min-length="3"
                md-selected-item-change="navbar.selectDeck(item)"
                placeholder="{{'navbar-PLACEHOLDER' | translate}}"
                md-input-id="searchInput"
                id="searchBar">

              <md-item-template>
                <span md-highlight-text="navbar.searchText" md-highlight-flags="^i">{{item.name}}</span>
              </md-item-template>

              <md-not-found>
                <a ng-click="navbar.newDeck()">
                  {{'navbar-NOT_FOUND' | translate}} "{{navbar.searchText}}". {{'navbar-NOT_FOUND2' | translate}}
                </a>
              </md-not-found>

            </md-autocomplete>
      </form>
    </div>

    <md-button aria-label="search" ng-click="navbar.buttonClick()" id="searchButton">
      <md-icon md-svg-src="assets/icons/search.svg" id="searchButton2"></md-icon>
      <md-icon md-svg-src="assets/icons/clear.svg" id="searchButton3" class="ng-hide"></md-icon>
    </md-button>

    <new-deck-fab></new-deck-fab>

  </div>

  <md-content layout-padding>
    <div ui-view></div>
  </md-content>

</md-content>
