<div flex="50" layout="row" layout-align="start center">
  <md-button ng-click="navbar.openLeftMenu()" aria-label=".">
    <md-icon md-svg-src="assets/icons/burger.svg">
    </md-icon>
  </md-button>
</div>
<div flex="50" layout="row" layout-align-gt-sm="center center" layout-align="end center">
  <md-button ui-sref="decks({ access: 'private' })" aria-label="." ng-if="navbar.isLogged()">
    <md-icon md-svg-src="assets/icons/studyBox.svg">
    </md-icon>
  </md-button>
  <md-button ui-sref="decks({ access: 'public' })" aria-label="." ng-if="!navbar.isLogged()">
    <md-icon md-svg-src="assets/icons/studyBox.svg">
    </md-icon>
  </md-button>
</div>
