<div md-content layout-padding ng-controller="LoginController as login" ng-cloak>
    <div layout="column" layout-align="center center">
        <div flex><h4>Logowanie</h4></div>

        <form name="loginForm" ng-submit="login.submit(loginForm.$valid)">

            <md-input-container class="md-block">
                <label>{{"login-pole_email" | translate}}</label>
                <input required type="email" name="email" ng-model="login.data.email" ng-pattern="/^.+@.+\..+$/" />
                <div ng-messages="loginForm.email.$error">
                    <div ng-message="required">{{"login-wprowadź_poprawny_adres_email" | translate}}</div>
                    <div ng-message="pattern">{{"login-wprowadź_poprawny_adres_email" | translate}}</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>{{"login-pole_haslo" | translate}}</label>
                <input required type="password" name="password" minlength="8" ng-model="login.data.password" />
                <div ng-messages="loginnForm.password.$error">
                    <div ng-message="required">{{"login-błędne_hasło" | translate}}</div>

                </div>
            </md-input-container>

            <div layout="column" layout-align="center stretch">
                <md-button class="md-raised" type="submit" ng-disabled="loginForm.$invalid">{{"login-przycisk_zaloguj" | translate}}</md-button>
            </div>
            <a href="/registration">{{"login-link_nowy_użytkownik" | translate}}</a>
        </form>
    </div>
  </md-content>
