<md-card class="md-whiteframe-8dp deck-card"
         ng-class="{'flip-card': test.mode == 'answer'}">
  <md-card-title class="test-answer">
    <md-card-title-text class="deck-content card-rotate">
        <span class="md-headline">
          {{test.cards[test.currentQuestion].answer}}
        </span>
    </md-card-title-text>
  </md-card-title>
  <span layout="row"><hr flex/></span>
  <md-card-actions >
    <div class="card-rotate" layout="row" layout-align="center center">
      <md-button class="card-button" layout="row" 
                layout-align="center center" flex="50" 
                ng-click="test.answer(false)">
        <md-tooltip id="no" md-direction="top">{{'test-DONT_KNOWN' | translate}}</md-tooltip>
        <md-icon class="deck-remove-button" md-svg-src="assets/icons/not.svg">
        </md-icon>
      </md-button>
      <md-button class="card-button" layout="row" 
                layout-align="center center" flex="50"
                ng-click="test.answer(true)">
        <md-tooltip id="yes" md-direction="top">{{'test-KNOWN' | translate}}</md-tooltip>
        <md-icon class="deck-edit-button" md-svg-src="assets/icons/ok.svg">

        </md-icon>
      </md-button>
    </div>
  </md-card-actions>
</md-card>

