<md-dialog aria-label="List dialog">
  <md-dialog-content>
    <md-list>
      <md-list-item ng-if="test.allCorrect">
        {{'test-CONGRATS' | translate}}
      </md-list-item>
      <md-list-item>
        {{'test-SCORE' | translate}} {{test.getScorePercentage()}}
      </md-list-item>

      <pie-chart correct="{{test.correct}}" wrong="{{test.wrong}}"></pie-chart>

    </md-list>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="test.goToPrivateDecks()" class="md-primary">
      {{'navbar-PRIVATE_CARDS' | translate}}
    </md-button>
    <md-button ng-click="test.closeDialog()" class="md-primary">

      <div ng-if="test.allCorrect == true">
        {{'test-RETEST' | translate}}
      </div>

      <div ng-if="test.allCorrect == false">
        {{'test-BEAT' | translate}}
      </div>

    </md-button>
  </md-dialog-actions>
</md-dialog>
