<md-card class="md-whiteframe-8dp deck-card new-card"
         ng-class="{'flip-card': test.mode == 'answer'}">
  <md-card-title class="test-answer" ng-click="test.mode = 'answer'">
    <md-card-title-text class="deck-content">
        <span class="md-headline">
        {{test.cards[test.current].question}}
        </span>
    </md-card-title-text>
  </md-card-title>
  <span layout="row"><hr flex/></span>
  <md-card-actions layout="row" layout-align="end center">
    <div class="card-button">
      <md-button ng-disabled="!test.cards[test.current].hint" ng-click="test.mode = 'hint'">{{'test-HINT' | translate}}</md-button>
    </div>
  </md-card-actions>
</md-card>

