.test-logo{
  height: 40px;
  width: 40px;
}
.test-logo>svg{
  fill: #0068B4;
}

.test-answer{
  outline: none;
}

.flip-card {
  transform-style: preserve-3d;
  transition: all 0.7s linear;
  -webkit-animation: flipInY 0.7s ease-out;
  -moz-animation: flipInY 0.7s ease-out;
  -o-animation: flipInY 0.7s ease-out;
  animation: flipInY 0.7s ease-out;
}

@-webkit-keyframes flipInY {
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@-moz-keyframes flipInY {
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@-o-keyframes flipInY {
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes flipInY {
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}


.card-rotate {
  -webkit-animation: fadeInFromNone 0.7s ease-out;
  -moz-animation: fadeInFromNone 0.7s ease-out;
  -o-animation: fadeInFromNone 0.7s ease-out;
  animation: fadeInFromNone 0.7s ease-out;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.new-card {
  -webkit-animation: newCard 0.5s ease-out;
  -moz-animation: newCard 0.5s ease-out;
  -o-animation: newCard 0.5s ease-out;
  animation: newCard 0.5s ease-out;
}

@keyframes newCard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes new {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes new {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes new {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
