<div layout="row" layout-align="center center" flex>
  <h3>
    <md-icon class="test-logo" md-svg-src="assets/icons/studyBox.svg"></md-icon>
    {{test.selectedDeck.name}}
  </h3>
</div>
<div layout="row" layout-align="center center" layout-wrap>
  <question flex-xs="100" flex-gt-xs="45" flex-gt-sm="30" ng-if="test.mode == 'question'" content="{{test.cards[test.currentQuestion].question}}"></question>
  <hint flex-xs="100" flex-gt-xs="45" flex-gt-sm="30"  ng-if="test.mode == 'hint'" content="{{test.cards[test.currentQuestion].tips}}"></hint>
  <answer flex-xs="100" flex-gt-xs="45" flex-gt-sm="30"  ng-if="test.mode == 'answer'" content="{{test.cards[test.currentQuestion].answer}}"></answer>
</div>
<div layout="row" layout-align="center center" flex>
  <h3>
    {{test.currentQuestion+1}} / {{test.cards.length}}
  </h3>
</div>
