<md-dialog ng-cloak flex="80">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Edycja</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="myDeckPreview.cancelDialog()">
        <md-icon md-svg-src="assets/icons/cancel.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <div layout="row" ng-show="myDeckPreview.createNewDeckFlag == true">
        <md-input-container  flex="30">
          <label>Nazwa tali</label>
          <input ng-model="myDeckPreview.newDeckName">
        </md-input-container>

        <md-switch
          layout-align="end center"
          ng-change="myDeckPreview.deckAccessChange()"
          class="md-primary"
          ng-model="myDeckPreview.isPublic"
          aria-label="deck access"
          ng-true-value="false"
          ng-false-value="true"
          flex="15">
          {{ myDeckPreview.isPublicMsg | translate}}
        </md-switch>
      </div>
      <div layout="row" layout-xs="column" layout-sm="column" class="addCard">
        <div flex flex-xs="grow" flex-sm="grow" layout-align="center stretch" class="separate">
          <md-content layout-padding class="siteParts" style="overflow: visible;">
            <form name="addCardForm" ng-submit="myDeckPreview.submitCard(addCardForm.$valid)">
              <md-input-container class="md-block md-whiteframe-4dp middleCard" md-no-float>

                <div ngf-select
                     ng-model="questionFile"
                     name="questionFile"
                     ngf-pattern="'image/*'"
                     ngf-accept="'image/*'"
                     ngf-max-size="60MB" >
                  <i class="camera-position">
                    <md-icon md-svg-src="assets/icons/photo_camera_36px.svg" class="camera"></md-icon>
                  </i>
                </div>

                <md-button id="addButton" hide-xs hide-sm aria-label="add"
                          class="md-fab color-dial hintCardAdd"
                          ng-click="myDeckPreview.addHint()">
                  <md-tooltip id="addButtonTooltip" md-direction="left">{{myDeckPreview.addHintTranslate}}</md-tooltip>
                  <md-icon md-svg-src="assets/icons/add_36px.svg" style="display: inline; " ></md-icon>
                </md-button>
                <textarea
                  minlength="2"
                  maxlength="1000"
                  ng-paste="myDeckPreview.pasteChecker()"
                  ng-change="myDeckPreview.trimInput(myDeckPreview); myDeckPreview.questionChanged = true"
                  ng-focus="myDeckPreview.questionFocus=true"
                  ng-blur="myDeckPreview.questionFocus=false"
                  ng-trim="false"
                  class="question"
                  placeholder='{{"addCard-WRITE_QUESTION" | translate}}'
                  ng-model="myDeckPreview.question" rows="5"
                  md-select-on-focus
                  required></textarea>
                <div class="display: inline-block;" ng-show="questionFile">
                  <md-button ng-click="questionFile=null;"
                            aria-label="closeImg"
                            class="closePosition">{{"addCard-REMOVE_IMAGE" | translate}}</md-button>
                  <img style="text-align: center;" ng-show="myDeckPreview.questionFile.$valid" ngf-thumbnail="questionFile" class="imgStyle">
                </div>

                <div ng-class="myDeckPreview.question.length == 1000 ? 'counterError' : 'counter'">
                    {{myDeckPreview.question.length}}/
                </div>
                <div class="maxInputLength">
                  1000
                </div>

              </md-input-container>

              <!--RWD BUTTON:-->
              <md-input-container class="md-block hintDiv md-whiteframe-4dp middleCard" md-no-float hide-gt-sm show-sm show-xs>
                <md-button id="hiddenIcon"
                          aria-label="add hint"
                          class="md-fab color-dial hintCardRemove"
                          ng-click="myDeckPreview.addHint()">
                  <md-tooltip id="addButtonTooltip" md-direction="left">{{myDeckPreview.addHintTranslate}}</md-tooltip>
                  <md-icon md-svg-src="assets/icons/add_36px.svg" style="display: inline; " ></md-icon>
                </md-button>
              </md-input-container>

              <!--HINT AREA:-->
              <div ng-repeat="hint in myDeckPreview.hints">
                <md-input-container class="md-block md-whiteframe-4dp middleCard" md-no-float style="display: block;">
                  <div ngf-select
                       ng-model="hintFile"
                       name="hintFile"
                       ngf-pattern="'image/*'"
                       ngf-accept="'image/*'"
                       ngf-max-size="60MB" >
                    <i class="camera-position">
                      <md-icon md-svg-src="assets/icons/photo_camera_36px.svg" class="camera"></md-icon>
                    </i>
                  </div>
                  <textarea
                    maxlength="1000"
                    minlength="2"
                    class="hint"
                    ng-trim="false"
                    placeholder='{{"addCard-WRITE_HINT" | translate}}'
                    ng-model="hint.essence" rows="5"
                    ng-change="hint.hintChanged = true"
                    md-select-on-focus></textarea>
                  <div class="display: inline-block;" ng-show="hintFile">
                    <md-button ng-click="hintFile=null;" aria-label="closeImg" class="closePosition">{{"addCard-REMOVE_IMAGE" | translate}}</md-button>
                    <img style="text-align: center;" ng-show="myDeckPreview.hintFile.$valid" ngf-thumbnail="hintFile" class="imgStyle">
                  </div>

                  <div ng-class="hint.essence.length == 1000 ? 'counterError' : 'counter'">
                    {{hint.essence.length}}/
                  </div>
                  <div class="maxInputLength">
                    1000
                  </div>
                  <div class="removeHint">
                    <md-tooltip  md-direction="top">{{"addCard-REMOVE_HINT" | translate}}</md-tooltip>
                    <md-icon class="deck-remove-button"
                         md-svg-src="assets/icons/clear.svg"
                         ng-click="myDeckPreview.removeHint(hint)"></md-icon>
                  </div>
                </md-input-container>
              </div>

              <!--ANSWER AREA:-->
              <md-input-container class="md-block md-whiteframe-4dp middleCard" md-no-float>
                <div ngf-select
                     ng-model="answerFile"
                     name="answerFile"
                     ngf-pattern="'image/*'"
                     ngf-accept="'image/*'"
                     ngf-max-size="60MB" >
                  <i class="camera-position">
                    <md-icon md-svg-src="assets/icons/photo_camera_36px.svg" class="camera"></md-icon>
                  </i>
                </div>
                <textarea
                  minlength="2"
                  maxlength="1000"
                  ng-paste="myDeckPreview.pasteChecker()"
                  ng-change="myDeckPreview.trimInput(myDeckPreview)"
                  ng-focus="myDeckPreview.answerFocus=true"
                  ng-blur="myDeckPreview.answerFocus=false"
                  ng-trim="false"
                  class="answer"
                  placeholder='{{"addCard-WRITE_ANSWER" | translate}}'
                  ng-model="myDeckPreview.answer" rows="5"
                  md-select-on-focus
                  required></textarea>
                <div class="display: inline-block;" ng-show="answerFile">
                  <md-button ng-click="answerFile=null;" aria-label="closeImg" class="closePosition">Usuń zdjęcie ✖</md-button>
                  <img style="text-align: center;" ng-show="myDeckPreview.answerFile.$valid" ngf-thumbnail="answerFile" class="imgStyle">
                </div>

                <div ng-class="myDeckPreview.answer.length == 1000 ? 'counterError' : 'counter'">
                    {{myDeckPreview.answer.length}}/
                </div>
                <div class="maxInputLength">
                  1000
                </div>
              </md-input-container>

              <div layout="row">
                <md-switch
                  layout-align="start center"
                  ng-change="myDeckPreview.cardAccessChange()"
                  class="md-primary"
                  ng-model="myDeckPreview.isHidden"
                  aria-label="card access"
                  ng-true-value="true"
                  ng-false-value="false"
                  flex="50">
                  <!-- <span class="deck-checkbox"> -->{{ myDeckPreview.isHiddenMsg | translate}}<!-- </span> -->
                </md-switch>

                <md-button type="submit" class="md-raised addCardButtons addCardButton"
                           ng-if="!myDeckPreview.editMode"  flex="50">{{"addCard-ADD_TO_DECK" | translate}}</md-button>
                <md-button type="submit" class="md-raised addCardButtons addCardButton"
                           ng-if="myDeckPreview.editMode"  flex="50">{{"addCard-EDIT_CARD" | translate}}</md-button>
              </div>
              </form>
            </md-content>
        </div>
      </div>

    </div>
  </md-dialog-content>
</md-dialog>
