<md-content class="md-padding separate" layout="column">
  <form ng-submit="deck.selectDeck(deckForm.$valid)" name="deckForm" layout="row" layout-wrap >
    <md-autocomplete flex="80" required
                     md-input-name="deckField"
                     md-selected-item="deck.selectedItem"
                     md-search-text="deck.searchText"
                     md-search-text-change="deck.getDecks(deck.searchText)"
                     md-items="item in deck.getDecks(deck.searchText)"
                     md-item-text="item.name"
                     md-selected-item-change="deck.getDecks(deck.searchText)"
                     md-min-length="0"
                     placeholder="{{'deck-TYPE_NAME' | translate}}">
      <md-item-template>
        <span md-highlight-text="deck.searchText" md-highlight-flags="^i">{{item.name}}</span>
      </md-item-template>
    </md-autocomplete>

    <div flex="20">
      <md-button aria-label="selector"
                 class="md-fab fade deck-add-button"
                 ng-if="deck.creation"
                 ng-click="deck.createDeck(deck.searchText)"
                 ng-disabled="deck.searchText==''">
        <md-tooltip md-direction="top">{{'deck-CREATE_DECK' | translate}}</md-tooltip>
        <md-icon md-svg-src="assets/icons/new.svg"></md-icon>
      </md-button>
      <md-button aria-label="selector"
                 class="md-fab fade deck-select-button"
                 ng-if="deck.creation==false"
                 ng-click="deck.selectDeck()"
                 ng-disabled="deck.selectedDeck.name==deck.searchText">
        <md-tooltip md-direction="top">{{'deck-SELECT_DECK' | translate}}</md-tooltip>
        <md-icon  md-svg-src="assets/icons/ext.svg"></md-icon>
      </md-button>
    </div>
  </form>

  <md-card ng-repeat="card in deck.cards" ng-click="deck.selectCard(card.id)">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ card.question }}</span>
        <span class="md-subhead">{{ card.answer }}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button  ng-click="deck.deleteCard(card.id)">{{'deck-REMOVE_CARD' | translate}}</md-button>
    </md-card-actions>
  </md-card>
</md-content>
