<md-content class="md-padding" layout="column" ng-cloak>
  <form class="deck-autocomplete" ng-submit="deck.selectedDeckChange(deckForm.$valid)" name="deckForm" layout="row" layout-wrap >
    <md-autocomplete flex required
                     ng-model="deck.searchText"
                     md-input-name="deckField"
                     md-selected-item="deck.selectedDeck"
                     md-search-text="deck.searchText"
                     md-items="item in deck.getDecks(deck.searchText)"
                     md-item-text="item.name"
                     md-search-text-change="deck.textChange(deck.searchText)"
                     md-selected-item-change="deck.selectedDeckChange(item)"
                     md-min-length="0"
                     md-input-maxlength="50"
                     md-autoselect="true"
                     md-floating-label="{{'deck-TYPE_NAME' | translate}}">
      <md-item-template>
        <span md-highlight-text="deck.searchText">{{item.name}}</span>
        <span ng-if="!item.id" class="add-deck">{{'deck-CREATE_DECK' | translate}}</span>
      </md-item-template>
      <div ng-messages="deckForm.deckField.$error" ng-if="deckForm.deckField.$touched || deck.emptyNameError">
        <div ng-message="required">{{'deck-NAME_REQUIRED' | translate}}</div>
        <div ng-message="maxlength">{{'deck-NAME_TOO_LONG' | translate}}</div>
      </div>
    </md-autocomplete>
    <div ng-if="deck.searchText" ng-click="deck.clear()" class="deck-clear">x</div>
  </form>

  <div>
    <md-card ng-repeat="card in deck.cards" ng-click="deck.selectCard(card)" class="deck-card"
             ng-class="{selected: card.id === deck.selectedCardId}">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ card.question }}</span>
          <span class="md-subhead">{{ card.answer }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button  ng-click="deck.removeCard(card.id)">{{'deck-REMOVE_CARD' | translate}}</md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>

