<md-content class="md-padding" layout="column" ng-cloak>
  <form class="deck-autocomplete" ng-submit="deckEdit.saveDeck(deckForm.$valid)" name="deckForm" layout="row" layout-xs="column" layout-wrap >
    <md-autocomplete flex required
                     ng-model="deckEdit.searchText"
                     md-input-name="deckField"
                     md-selected-item="deckEdit.selectedItem"
                     md-search-text="deckEdit.searchText"
                     md-items="item"
                     md-item-text="item.name"
                     md-search-text-change="deckEdit.deckNameChange(deckEdit.selectedItem)"
                     md-min-length="0"
                     md-input-maxlength="50"
                     md-autoselect="false"
                     md-floating-label="{{'deck-TYPE_NAME' | translate}}">
      <div ng-messages="deckForm.deckField.$error" ng-if="deckForm.deckField.$touched || deckEdit.emptyNameError">
        <div ng-message="required">{{'deck-NAME_REQUIRED' | translate}}</div>
        <div ng-message="maxlength">{{'deck-NAME_TOO_LONG' | translate}}</div>
      </div>
    </md-autocomplete>
    <div ng-if="deckEdit.searchText" ng-click="deckEdit.clear()" class="deck-clear focusOn">x</div>

    <div class="deck-button" ng-if="deckEdit.nameChanged" >
      <md-tooltip id="saveDeckButtonTooltip" md-direction="top">{{'deck-SAVE_DECK' | translate}}</md-tooltip>
      <md-icon
        class="deck-edit-button focusOn"
        ng-click="deckEdit.saveDeck(deckEdit.searchText)"
        md-svg-src="assets/icons/save.svg"></md-icon>
    </div>
  </form>
  <div class="deck-autocomplete" layout="row" layout-xs="column">
    <div flex="80">
      <md-switch
        ng-click="deckEdit.deckAccessChange()"
        class="md-primary"
        ng-model="deckEdit.deckAccess"
        aria-label="deck access"
        ng-true-value="'public'"
        ng-false-value="'private'"
        flex>
        <span class="deck-checkbox">{{ deckEdit.deckAccess | translate}}</span>
      </md-switch>
    </div>
  </div>
  <!-- <span layout="row"><hr flex/></span> -->
  <div>
    <md-card ng-repeat="card in deckEdit.cards" ng-click="deckEdit.selectCard(card)" class="deck-card"
             ng-class="{'md-whiteframe-15dp': hover, 'md-whiteframe-8dp': card.id === deckEdit.selectedCardId}"
             ng-mouseenter="hover = true" ng-mouseleave="hover = false">
      <md-card-title>
        <md-card-title-text class="deck-content">
          <span class="md-headline">{{ card.question }}</span>
          <span class="md-subhead">{{ card.answer }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <div class="card-button" ng-if="!card.isHidden">
          <md-tooltip id="hideCardButtonTooltip" md-direction="top">{{'deck-HIDE_FLASHCARD' | translate}}</md-tooltip>
          <md-icon class="deck-edit-button focusOn"
                   md-svg-src="assets/icons/visibility_36px.svg"
                   ng-click="deckEdit.changeVisibility(card)"></md-icon>
        </div>
        <div class="card-button" ng-if="card.isHidden">
          <md-tooltip id="revealCardButtonTooltip" md-direction="top">{{'deck-REVEAL_FLASHCARD' | translate}}</md-tooltip>
          <md-icon class="deck-edit-button focusOn"
                   md-svg-src="assets/icons/visibility_off_36px.svg"
                   ng-click="deckEdit.changeVisibility(card)"></md-icon>
        </div>
        <div class="card-button">
          <md-tooltip id="removeCardButtonTooltip" md-direction="top">{{'deck-REMOVE_CARD' | translate}}</md-tooltip>
          <md-icon class="deck-remove-button"
                   md-svg-src="assets/icons/clear.svg"
                   ng-click="deckEdit.removeCard(card.id)"></md-icon>
        </div>
      </md-card-actions>
    </md-card>
  </div>
</md-content>

