<md-content class="md-padding" layout="column" ng-cloak>
  <form ng-submit="deck.selectDeck(deckForm.$valid)" name="deckForm" layout="row" layout-wrap >
    <md-autocomplete flex required
                     md-input-name="deckField"
                     md-selected-item="deck.selectedDeck"
                     md-search-text="deck.searchText"
                     md-search-text-change="deck.getDecks(deck.searchText)"
                     md-items="item in deck.getDecks(deck.searchText)"
                     md-item-text="item.name"
                     md-selected-item-change="deck.getDecks(deck.searchText)"
                     md-min-length="0"
                     md-floating-label="{{'deck-TYPE_NAME' | translate}}">
      <md-item-template>
        <span md-highlight-text="ctrl.searchText">{{item.name}}</span>
      </md-item-template>
    </md-autocomplete>
    <div ng-if="deck.searchText" ng-click="deck.clear()" class="deck-clear">x</div>

    <div flex="20">
      <md-button aria-label="selector"
                 class="md-fab fade deck-select-button"
                 ng-click="deck.selectDeck()"
                 ng-disabled="deck.selectedDeck.name!=deck.searchText || !deck.searchText">
        <md-tooltip md-direction="top">{{'deck-SELECT_DECK' | translate}}</md-tooltip>
        <md-icon  md-svg-src="assets/icons/ext.svg"></md-icon>
      </md-button>
    </div>
  </form>

  <div ng-style="{{deck.innerHeight}}">
    <md-card ng-repeat="card in deck.cards" ng-click="deck.selectCard(card.id)">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ card.question }}</span>
          <span class="md-subhead">{{ card.answer }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button  ng-click="deck.deleteCard(card.id)">{{'deck-REMOVE_CARD' | translate}}</md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>
