<div layout="row" layout-xs="column">

    <md-autocomplete
            flex="30"
            ng-model="deck.searchText"
            md-input-name="deckField"
            md-selected-item="deck.selectedItem"
            md-search-text="deck.searchText"
            md-items="item in deck.getDecks(deck.searchText)"
            md-item-text="item.name"
            md-search-text-change="deck.getDecks(deck.searchText)"
            md-selected-item-change="deck.selectedDeckChange(item)"
            md-min-length="0"
            md-input-maxlength="50"
            md-autoselect="true"
            md-floating-label="{{'deck-TYPE_NAME' | translate}}">
      <md-item-template>
        <span md-highlight-text="deck.searchText">{{item.name}}</span>
      </md-item-template>
    </md-autocomplete>
    <div ng-if="deck.searchText" ng-click="deck.clear()" class="deck-clear">x</div>
</div>


<div layout="horizontal" layout-wrap>
  <md-card ng-repeat="card in deck.cards"
           flex-xs="100" flex-sm="50" flex="25">

    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ card.question }}</span>
        <span class="md-subhead">{{ card.answer }}</span>
      </md-card-title-text>
    </md-card-title>

  </md-card>
</div>
