.deck-cards {
  overflow:scroll;
}

.deck-card {
  cursor: pointer;
  margin-bottom: 1em;
  margin-left: 1em;
}

.deck-card.selected {
  transform: scale(1.02);
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}

.deck-card:hover,
.deck-card.selected:hover{
  cursor: hand;
  transform: scale(1.04);
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}

.deck-card-title {
  padding: 1em;
  font-size: large;
}

.deck-card-question {
  padding: 1em;
  font-size: medium;
}

.deck-card-hint {
  padding: 1em;
  font-size: small;
}

.deck-card-answer {
  padding: 1em;
  font-size: medium;
}

.deck-button{
  padding-left: 5px;
  background: #0068B4 !important;
}

.deck-button:disabled{
  background: #cfcfcf !important;
}

.deck-add-button{
  padding-left: 5px;
  background-color: #EA0061 !important;
}

.deck-add-button:disabled{
  background-color: #cfcfcf !important;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.deck-clear{
  position: relative;
  z-index: 2;
  margin-top: 1.5em;
  left: -1.5em;
  cursor: pointer;
  color: #0068B4;
  padding: 0;
  height: 1.2em;
}
.deck-clear:hover{
  cursor: hand;
}

.add-deck{
  position: relative;
  z-index: 2;
  cursor: pointer;
  color: #0068B4;
  padding: 0;
  height: 1.2em;
  float: right;
}

.add-deck:hover{
  cursor: hand;
}
