.deck-cards {
  overflow:scroll;
}

.deck-autocomplete{
  margin-left: 1em;
}

.deck-card {
  cursor: pointer;
}

.deck-card-title {
  padding: 1em;
  font-size: large;
}

.deck-card-question {
  padding: 1em;
  font-size: medium;
}

.deck-card-hint {
  padding: 1em;
  font-size: small;
}

.deck-card-answer {
  padding: 1em;
  font-size: medium;
}

.deck-content,
.deck-content > span {
  text-overflow: ellipsis;
  overflow: hidden;
  width: inherit;
}

.deck-edit-button>svg{
  fill: #bdbdbd;
}
.deck-edit-button:hover>svg{
  cursor: hand;
  fill: #0068B4;
}

.deck-remove-button>svg{
  fill: #bdbdbd;
}
.deck-remove-button:hover>svg{
  cursor: hand;
  fill: #EA0061;
}

.deck-edit-button:disabled>svg{
  fill: #fafafa;
}

.selected .deck-edit-button,
.selected .deck-remove-button,
{
  opacity: 0.7;
}

.deck-edit-button:hover,
.deck-remove-button:hover,
.selected .deck-edit-button:hover,
.selected .deck-remove-button:hover {
  opacity: 0.9;
}



/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.deck-clear{
  position: relative;
  z-index: 2;
  margin-top: 1.5em;
  left: -1.5em;
  cursor: pointer;
  color: #bdbdbd;
  padding: 0;
  height: 1.2em;
}
.deck-clear:hover{
  cursor: hand;
  color: #EA0061;
}

.deck-button{
  position: relative;
  z-index: 2;
  cursor: pointer;
  padding-top: 1.6em;
  height: 1.2em;
  float: right;
}

.card-button{
  position: relative;
  float: right;
  padding: 0 0.3em;
}

.deck-checkbox {
  margin-top: 2em;
}

