<md-dialog ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{deckPreview.hintCardQuestion}} - {{'hintList-HINTS' | translate}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="deckPreview.cancelDialog()">
        <md-icon md-svg-src="assets/icons/cancel.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <md-list flex="">
        <md-list-item  ng-repeat="hint in deckPreview.hints">
          <div class="md-list-item-text" layout="column">
            <h3>{{ hint.essence }}</h3>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </md-dialog-content>
</md-dialog>
