body {
  min-width: 320px;
}

md-content {
  padding-top: 1rem;
}

#md-centered {
  height: 100%;
}

#searchInput {
  min-height: 30px;
}

@media only screen and (max-width: 459px) {
  #deckSearch {
    font-size: 90%;
  }
}

@media only screen and (max-width: 399px) {
  #deckSearch {
    font-size: 70%;
  }
}

@media only screen and (max-width: 359px) {
  #deckSearch {
    font-size: 60%;
  }
}