<div layout="horizontal" layout-wrap>

  <div ng-if="decks.categories.length == 0 && decks.no_private_decks == false"
       align="center" flex>
    {{'navbar-DECK_NOT_FOUND' | translate}}
  </div>

  <div ng-repeat="deck in decks.categories | orderByLocaleAware:'+@name'"
       flex-xs="100" flex-sm="50" flex="25">

    <div ng-if="decks.access == 'private'">
      <md-card class="card-square"
               ui-sref="my-deck-preview({ deckId: deck.id, access: 'private' })">
        <div>
          <div class="title-square">
            {{ deck.name }}
          </div>
        </div>
        <div class="counter-square">
          {{ deck.flashcardsCount }}
          <md-icon md-svg-src="assets/icons/studyBox.svg"></md-icon>
        </div>
      </md-card>
    </div>

    <div ng-if="decks.access == 'public'">
      <md-card class="card-square"
               ui-sref="deck-preview({ deckId: deck.id, access: 'public' })">
        <div>
          <div class="title-square">
            {{ deck.name }}
          </div>
        </div>
        <div class="counter-square">
          {{ deck.flashcardsCount }}
          <md-icon md-svg-src="assets/icons/studyBox.svg"></md-icon>
        </div>
      </md-card>
    </div>

  </div>
</div>
