.card-square{
	width: 75%;
	margin: 2em auto;
	padding-top: 75%;
  background-color: #0068B4;
  opacity:1;
  transition:0.3s;
}

.title-square{
  text-align: center;
  margin-top:-55%;
  color: #FFFFFF;
}

.card-square:hover{
  opacity:0.8;
  cursor:pointer;
  transition:0.3s;
}
